.d-navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-box {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  gap: 10px;
}

.d-box-left {
  left: 0;
}
.d-box-right {
  color: black;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.mb-0 {
  margin-bottom: 0 !important;
  color: black;
}
